/* --- Shared --- */
@use "shared/header";
@use "shared/utilities";
@use "shared/post-card";
@use "shared/footer";
/* --- Pages --- */
@use "pages/home/hero";
@use "pages/home/posts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3", sans-serif;
}

p {
  line-height: 1.5;
}
