.footer {
  background-color: rgba(32, 32, 32, 1);
  font-size: 0.75rem;
  text-align: center;
  padding: 2.31rem 0;
}

.footer__title {
  color: rgba(236, 236, 236, 1);
  font-weight: 700;
}

.footer__copyright {
  color: rgba(215, 215, 215, 1);
}
