@use "variables";
@use "utilities";

.post-card {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 1rem;
}
.post-card:hover {
  filter: brightness(1.1);
}

.post-card__image,
.post-card__date {
  margin-bottom: 0.875rem;
}

.post-card__image {
  display: block;
  width: 100%;
  object-fit: cover;
  order: -2;
  height: 14.5rem;
}
.post-card__date {
  @include utilities.u-uppercase;
  font-size: 0.875em;
  order: -1;
}

.post-card__title {
  color: var(--gray-dark);
  font-size: 1.5em;
}

.post-card__description {
  color: rgba(80, 80, 80, 1);
}

.post-card__link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0%;
}
