@mixin u-container {
  width: min(90%, 61.18rem);
  margin: 0 auto;
}

@mixin u-uppercase {
  text-transform: uppercase;
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
